.search {
  margin-bottom: 1rem;

  &__box {
    display: flex;
    justify-content: center;
  }

  &__input {
    width: 90vw;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1rem;
    color: $primary-color;
    background: $search-background-color;
    border: 0;
    border-radius: 0.1875rem;
    outline: 0;

    @include desktop {
      width: 25rem;
    }
  }

  &__results {
    position: absolute;
    z-index: 2;
    width: 100vw;
    box-sizing: border-box;
    padding: 0.625rem;
    background: $search-background-color;
    box-shadow: 0 0.3125rem 0.9375rem rgba(10, 10, 10, 0.3);

    @include desktop {
      width: 50rem;
    }
  }

  &__results-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__results-item {
    margin: 0.625rem 0.5rem;

    @include desktop {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    b {
      font-style: italic;
      font-weight: 400;
      color: $lilac;
    }
  }
}
