.tag-label {
  display: inline-block;
  padding: 3px 5px;
  margin: 0 5px 5px 0;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: $secondary-color;
  border-radius: 3px;

  &.purple {
    color: darken($purple, 80%);
    background: $purple;
  }

  &.lilac {
    color: darken($lilac, 80%);
    background: $lilac;
  }

  &.blue {
    color: darken($blue, 80%);
    background: $blue;
  }

  &.green {
    color: darken($green, 80%);
    background: $green;
  }

  &.light-blue {
    color: darken($light-blue, 80%);
    background: $light-blue;
  }
}
