.tag {
  display: inline-block;
  padding: 0.1875rem 0.3125rem;
  margin-right: 0.5rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: $black;
  text-align: center;
  background: $secondary-color;
  border-radius: 0.1875rem;

  &--purple {
    background: $purple;
  }

  &--lilac {
    background: $lilac;
  }

  &--blue {
    background: $blue;
  }

  &--green {
    background: $green;
  }

  &--light-blue {
    background: $light-blue;
  }
}
