.track-item {
  align-items: 'center';
  display: flex;
  flex-wrap: 'wrap-reverse';
  margin: 0 0 12px 0;

  .track-item-number {
    flex-basis: 10%;
    font-size: 10px;
    font-weight: bold;
    opacity: 0.5;
  }

  .track-item-detaisl {
    flex: 10;
    padding: 0 0 0 5px;
  }

  .track-item-tags {
    display: flex;
    flex: 4;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}
