.track-item {
  align-items: center;
  margin: 0 0.5rem 1rem 0.5rem;
  flex-direction: column;

  @include desktop {
    margin: 0 0 1.5rem 0;
  }

  &__name {
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    line-height: 1.2;
  }
}
