.tracklist-item {
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0.5rem 1rem 0.5rem;

  @include desktop {
    margin: 0 0 0.625rem 0;
  }

  &__details {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @include desktop {
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__name {
    margin: 0 0 0.5rem 0;
    font-weight: bold;

    @include desktop {
      flex: 5;
    }
  }

  &__tags {
    display: flex;
    justify-content: flex-end;

    @include desktop {
      flex: 2;
    }

    .tag:last-of-type {
      margin-right: 0;
    }
  }
}
