.tracklist-item {
  align-items: center;
  display: flex;
  margin: 0 0 15px 0;

  .tracklist-item-date {
    flex-basis: 10%;
    font-size: 10px;
    font-weight: bold;
    color: $grey-1;
  }

  .tracklist-item-name {
    flex: 3;
    padding: 0 0 0 5px;

    .tracklist-item-link {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  .tracklist-item-tracks {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }
}
