.add-tracklist {
  margin-bottom: 1rem;

  &__header {
    margin-bottom: 1rem;
    font-weight: bold;
    text-align: center;
  }

  &__section {
    margin-bottom: 0.5rem;
  }

  &__subheader {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
}
