body {
  font-family: $font-stack;
  color: $primary-color;
  background: $background-color;
}

a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $secondary-color;
  }
}

.app {
  align-items: center;
  display: flex;
  justify-content: center;

  &__column {
    flex: 1;
    max-width: 640px;
  }
}
