body {
  font-family: $font-stack;
  color: $primary-color;
  background: $background-color;
}

.page-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.page-column {
  flex: 1;
  max-width: 960px;
}
