$background-color: #2c2a31;

$white: #e8dcd8;

$purple: #b433ff;
$lilac: #aa72ff;
$blue: #6473ff;
$green: #0fb176;
$light-blue: #50b4ff;

$grey: rgb(204, 204, 204);

$primary-color: $white;
$secondary-color: $green;
