.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  &__spinner {
    width: 36px;
    height: 36px;
    padding: 0;
    border: 0.25rem solid $primary-color;
    border-top: 0.25rem solid $secondary-color;
    border-right: 0.25rem solid $secondary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  &__header {
    margin-left: 1rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
