.pagination {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  font-weight: bold;

  @include desktop {
    margin: 3.125rem 0;
  }

  &__link {
    display: flex;
    flex: 1;
    justify-content: center;
  }
}
