.tracklist-picker {
  &__tracks {
    box-sizing: border-box;
    width: 100%;
    padding: 1rem;
    list-style-position: inside;
    list-style-type: decimal;
    background: darken($background-color, 5%);
    border-radius: 0.1875rem;
  }

  &__track {
    margin: 0.5rem 0;
    font-size: 0.75rem;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__tags {
    margin-top: 0.5rem;
  }
}
